/*
 * AWSS3Lib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package com.amazonaws.s3.controllers;

import com.amazonaws.s3.ApiHelper;
import com.amazonaws.s3.Server;
import com.amazonaws.s3.exceptions.ApiException;
import com.amazonaws.s3.http.request.HttpMethod;
import io.apimatic.core.ApiCall;
import io.apimatic.core.GlobalConfiguration;
import java.io.IOException;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class RetentionController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public RetentionController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * Retrieves an object's retention settings. For more information, see Locking Objects.
     * @param  retention  Required parameter:
     * @param  xAmzContentSha256  Required parameter:
     * @param  bucket  Required parameter:
     * @param  key  Required parameter:
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public void retention(
            final String retention,
            final String xAmzContentSha256,
            final String bucket,
            final String key) throws ApiException, IOException {
        prepareRetentionRequest(retention, xAmzContentSha256, bucket, key).execute();
    }

    /**
     * Retrieves an object's retention settings. For more information, see Locking Objects.
     * @param  retention  Required parameter:
     * @param  xAmzContentSha256  Required parameter:
     * @param  bucket  Required parameter:
     * @param  key  Required parameter:
     * @return    Returns the void response from the API call
     */
    public CompletableFuture<Void> retentionAsync(
            final String retention,
            final String xAmzContentSha256,
            final String bucket,
            final String key) {
        try {
            return prepareRetentionRequest(retention, xAmzContentSha256, bucket, key).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for retention.
     */
    private ApiCall<Void, ApiException> prepareRetentionRequest(
            final String retention,
            final String xAmzContentSha256,
            final String bucket,
            final String key) {
        return new ApiCall.Builder<Void, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.SERVER_1.value())
                        .path("/{bucket}/{key}")
                        .queryParam(param -> param.key("retention")
                                .value(retention))
                        .templateParam(param -> param.key("bucket").value(bucket)
                                .shouldEncode(true))
                        .templateParam(param -> param.key("key").value(key)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("x-amz-content-sha256")
                                .value(xAmzContentSha256).isRequired(false))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Retrieves an object's retention settings. For more information, see Locking Objects.
     * @param  retention  Required parameter:
     * @param  xAmzContentSha256  Required parameter:
     * @param  bucket  Required parameter:
     * @param  key  Required parameter:
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public void retention1(
            final String retention,
            final String xAmzContentSha256,
            final String bucket,
            final String key) throws ApiException, IOException {
        prepareRetention1Request(retention, xAmzContentSha256, bucket, key).execute();
    }

    /**
     * Retrieves an object's retention settings. For more information, see Locking Objects.
     * @param  retention  Required parameter:
     * @param  xAmzContentSha256  Required parameter:
     * @param  bucket  Required parameter:
     * @param  key  Required parameter:
     * @return    Returns the void response from the API call
     */
    public CompletableFuture<Void> retention1Async(
            final String retention,
            final String xAmzContentSha256,
            final String bucket,
            final String key) {
        try {
            return prepareRetention1Request(retention, xAmzContentSha256, bucket, key).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for retention1.
     */
    private ApiCall<Void, ApiException> prepareRetention1Request(
            final String retention,
            final String xAmzContentSha256,
            final String bucket,
            final String key) {
        return new ApiCall.Builder<Void, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.SERVER_1.value())
                        .path("/{bucket}/{key}")
                        .queryParam(param -> param.key("retention")
                                .value(retention))
                        .templateParam(param -> param.key("bucket").value(bucket)
                                .shouldEncode(true))
                        .templateParam(param -> param.key("key").value(key)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("x-amz-content-sha256")
                                .value(xAmzContentSha256).isRequired(false))
                        .httpMethod(HttpMethod.PUT))
                .responseHandler(responseHandler -> responseHandler
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}