/*
 * AWSS3Lib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package com.amazonaws.s3.controllers;

import com.amazonaws.s3.ApiHelper;
import com.amazonaws.s3.Server;
import com.amazonaws.s3.exceptions.ApiException;
import com.amazonaws.s3.http.request.HttpMethod;
import io.apimatic.core.ApiCall;
import io.apimatic.core.GlobalConfiguration;
import java.io.IOException;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class TorrentController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public TorrentController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * Return torrent files from a bucket. BitTorrent can save you bandwidth when you're
     * distributing large files. For more information about BitTorrent, see Amazon S3 Torrent.
     * @param  torrent  Required parameter:
     * @param  xAmzContentSha256  Required parameter:
     * @param  bucket  Required parameter:
     * @param  key  Required parameter:
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public void objectTorrent(
            final String torrent,
            final String xAmzContentSha256,
            final String bucket,
            final String key) throws ApiException, IOException {
        prepareObjectTorrentRequest(torrent, xAmzContentSha256, bucket, key).execute();
    }

    /**
     * Return torrent files from a bucket. BitTorrent can save you bandwidth when you're
     * distributing large files. For more information about BitTorrent, see Amazon S3 Torrent.
     * @param  torrent  Required parameter:
     * @param  xAmzContentSha256  Required parameter:
     * @param  bucket  Required parameter:
     * @param  key  Required parameter:
     * @return    Returns the void response from the API call
     */
    public CompletableFuture<Void> objectTorrentAsync(
            final String torrent,
            final String xAmzContentSha256,
            final String bucket,
            final String key) {
        try {
            return prepareObjectTorrentRequest(torrent, xAmzContentSha256, bucket, key).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for objectTorrent.
     */
    private ApiCall<Void, ApiException> prepareObjectTorrentRequest(
            final String torrent,
            final String xAmzContentSha256,
            final String bucket,
            final String key) {
        return new ApiCall.Builder<Void, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.SERVER_1.value())
                        .path("/{bucket}/{key}")
                        .queryParam(param -> param.key("torrent")
                                .value(torrent))
                        .templateParam(param -> param.key("bucket").value(bucket)
                                .shouldEncode(true))
                        .templateParam(param -> param.key("key").value(key)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("x-amz-content-sha256")
                                .value(xAmzContentSha256).isRequired(false))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}